<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572718733641-ur42q9df3vlh2oropaqf8o0d3eelhgvl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572718733641-ur42q9df3vlh2oropaqf8o0d3eelhgvl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>572718733641-tco88er29n0g43p6ioaetn5t33ptgid0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpUqSSkev9yAVZQPB3af1SQZkFHhHI0CI</string>
	<key>GCM_SENDER_ID</key>
	<string>572718733641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.br.joao.gabriel.medeiros.pereira.InvestScopio.dev</string>
	<key>PROJECT_ID</key>
	<string>investscopiodev</string>
	<key>STORAGE_BUCKET</key>
	<string>investscopiodev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572718733641:ios:ceed319a1910c1cf</string>
	<key>DATABASE_URL</key>
	<string>https://investscopiodev.firebaseio.com</string>
</dict>
</plist>