//
//  Debug.xcconfig
//  InvestScopio
//
//  Created by Joao Gabriel Pereira on 29/09/20.
//  Copyright © 2020 Joao Medeiros Pereira. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-InvestScopio/Pods-InvestScopio.debug.xcconfig"
